/* Default custom styles */
body {
	font: 300 16px/1.5 "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #292b35;
	color: #fff;
}
a {
	color: #ADC234;
}



/*Bootstrap Elements*/
.navbar-default {
    background-color: #434957;
    border-color: #434957;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #31333f;
}

.navbar-inverse {
    background-color: #31333f;
    border-color: #31333f;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #434957;
}

.form-control {
    border: 0;
    border-radius: 0px;
    box-shadow: none;
}

.page-header {
    border-bottom: 1px solid #31333f;
}
.jumbotron {
	background-color: #31333f;
}
.well {
    background-color: #31333f;
    border: 0;
}

.progress-bar-warning {
	background-color: #CD554A;
}

.dropdown-menu {
    background-color: #31333f;
}

/*Buttons*/

.btn {
	border-radius: 2em;
}

.btn-default {
}

.btn-primary {
	background-color: #434957;
	border-color: #434957;
}

.btn-success {
    background-color: #ADC234;
    border-color: #ADC234;
}
.btn-danger {
	background-color: #CD554A;
	border-color: #CD554A;
}

/*custom elements*/